extend layout

block query_bar
	script(src='/js/web_services/instagram_forwarder.js')

	.required
		h1.title  
		input#logIn(type="button", name="submit query", value="Log-in to Instagram") 
 
block query_results
	.header
		div.required You need to start by logging into your Instagram account.
		div.optional Then you can start forwarding queries to Spacebrew.
	#content
