extend layout

block header_script_post
	script(src='/js/web_services/instagram_forwarder.js')


block query_results
	.header
		div.required Enter a search query to start forwarding photos to Spacebrew.
		div.optional 
	#content
